.card{
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: large;
    transition: all 0.3s;
}

.element{
    margin: 5px 50px;
    text-align:left;
    width: 7rem;
}
.card:hover{
    color: rgb(255, 131, 82);
}